{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px;
    border-bottom: 1px solid black;
}

body {
    padding: 0px;
    margin: 0px;
}

main {
    padding: 16px;
}

footer {
    padding: 24px, 0px, 24px, 0px;
}

img {
    height: 200px;
}
